.git
.github
.venv
.env
**/__pycache__
**/.pytest_cache
data/*
!data/muestra
docs
informes
parte1_gestos
integracion
tests
**/target
**/project/target
**/project/project
**/.bsp
**/.metals
**/.bloop
**/.chainlit/translations
**/.files
parte4_frontend/web/node_modules
parte4_frontend/web/dist
